name: GitHub Pages

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v3
        with:
          submodules: true
          fetch-depth: 0
      
      - uses: actions/checkout@v3
        with:
          repository: Malsius/notion-md
          path: notion-md
      
      - name: Fetch Notion pages
        run: notion-md/script.py --static static/images --content content/posts --url /notion-ghpages/images --db ${{ secrets.NOTION_DB_ID }} --key ${{ secrets.NOTION_API_KEY }} --hugo

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build
        run: hugo

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./public
          force_orphan: true
